### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [144]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = ("Resources/purchase_data.csv")

# Read purchasing file and store into pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [145]:
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count

* Display the total number of players

In [146]:
# finding the names of the columns
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [147]:
Total = purchase_data_df['SN'].value_counts()
Total.head(10)

Lisosia93       5
Idastidru52     4
Iral74          4
Umolrian85      3
Iskadarya95     3
Ilarin91        3
Phyali88        3
Aina42          3
Phaena87        3
Saistyphos30    3
Name: SN, dtype: int64

In [148]:
#this is just me trying to figure out how to get the total players in a dataframe by itself
Total_Player = purchase_data_df.groupby(['SN']).sum()
Total_Player.count()

Purchase ID    576
Age            576
Item ID        576
Price          576
dtype: int64

In [149]:
purchase_data_df = pd.DataFrame({"Total Player": ['576']})
purchase_data_df.head()

# Total_Player = purchase_data_df.groupby("SN")["SN"].unique()
# Total_player.count()

  Total Player
0          576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
unique_items = purchase_data_df['Item Name'].count()
total_avg_price = purchase_data_df['Price'].mean()
total_purchases = purchase_data_df['Price'].count()
total_revenue = purchase_data_df['Price'].sum()

purchase_analysis = {
    'Number of Unique Items': [purchase_data_df['Item Name'].count()],
    'Average Price': [purchase_data_df['Price'].mean()],
    'Number of Purchases': [purchase_data_df['Price'].count()],
    'Total Revenue': [purchase_data_df['Price'].sum()]
}

purchase_analysis_df = pd.DataFrame(analysis)
purchase_analysis_df

KeyError: 'Item Name'

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
players_by_gender = purchase_data_df['Gender'].value_counts()
players_by_gender_df = pd.DataFrame(players_by_gender)
#this part almost killed me 
percent_players = (purchase_data_df['Gender'].value_counts() / (purchase_data_df['Gender'].count())) * 100
#had a trouble with this
players_by_gender_df['Percent of Players'] = percent_players
gender_demographics_df = pd.DataFrame(players_by_gender_df)
gender_demographics_df

# Renaming all this stuff
new_gender_demographics_df = gender_demographics_df.rename(columns={
    'Gender': 'Total Count',
})
new_gender_demographics_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
all_gender_df = purchase_data_df.groupby('Gender')

player_count = all_gender_df['SN'].count()
player_count_df = pd.DataFrame(player_count)

#average purchase
avg_price = all_gender_df['Price'].mean()
# avg_price_df = pd.DataFrame(avg_price)

#total purchase by gender
total_gender_purchase = all_gender_df['Price'].sum()

#normalized totals 
normalized_total = total_gender_purchase / player_count

# Add 'Average Purchase Price'
player_count_df['Average Purchase Price'] = avg_price
gender_purchase_df = pd.DataFrame(player_count_df)

# Rename 'SN' to 'Purchase Count'
new_gender_purchase_df = gender_purchase_df.rename(columns={
    'SN': 'Purchase Count',
})

# Add 'Normalized Totals'
new_gender_purchase1_df['Total Purchase Price'] = total_gender_purchase
new_gender_purchase2_df = pd.DataFrame(new_gender_purchase_df)

# Add 'Total Purchase Price'
new_gender_purchase2_df['Normalized Totals'] = norm_total
total_gender_purchase1_df = pd.DataFrame(new_gender_purchase2_df)
total_gender_purchase1_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df['Total Count'] = pd.cut(purchase_data_df['Age'],
                                     bins, labels=group_names)
age_groups = purchase_data_df.groupby('Total Count')
age_groups_df = age_groups.count()

organized_age_df = age_groups_df[['Age']]
organized_age_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
age_bins2 = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df['Total Count'] = pd.cut(purchase_data_df['Item ID'],
                                     bins2, labels=group_names2)
age_groups2 = purchase_data_df.groupby('Total Count')
age_groups2_df = age_groups2.count()
age_purchase = age_groups2_df['Item ID']
age_purchase

organized_age2_df = age_groups2_df[['Item ID']]
organized_age2_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
sn_counts= top_spenders.groupby('SN')['Price'].count()
sn_counts_df = pd.DataFrame(sn_counts)

unique_sn_df = top_spenders.groupby('SN')['Price'].sum()

avg_price_per_SN = top_spenders.groupby('SN')['Price'].mean()

sn_counts_df['Average Purchase Price'] = avg_price_of_SN

sn_counts_df['Total Purchase Value'] = unique_sn_df
sn_counts_df

updated_count_of_sn_df = count_of_sn_df.rename(columns={
    'Price': 'Purchase Count',
})

sorted_sn_df = updated_count_of_sn_df.sort_values(by=['Total Purchase Value'], ascending=False)
sorted_sn_df


sorted_SN_df.head(10)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
count_of_item = top_spenders.groupby('Item ID')['Price'].count()
count_of_item_df = pd.DataFrame(count_of_item)

unique_item_df = top_spenders.groupby('Item ID')['Price'].sum()

item_name_df = top_spenders.iloc[:, 3]
count_of_item_df['Item Name'] = item_name_df

item_price_df = top_spenders.iloc[:, 4]
count_of_item_df['Item Price'] = item_price_df

count_of_item_df['Total Purchase Value'] = unique_item_df
count_of_item_df

updated_count_of_item_df = count_of_item_df.rename(columns={
    'Price': 'Purchase Count',
})

organized_items_df = updated_count_of_item_df[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

sorted_items_df = organized_items_df.sort_values(by=['Purchase Count'], ascending=False)

sorted_items_df.head(10)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
count_of_item2 = top_spenders.groupby('Item ID')['Price'].count()
count_of_item2_df = pd.DataFrame(count_of_item2)


unique_item2_df = top_spenders.groupby('Item ID')['Price'].sum()

item_name2_df = top_spenders.iloc[:, 3]
count_of_item2_df['Item Name'] = item_name2_df

item_price2_df = top_spenders.iloc[:, 4]
count_of_item2_df['Item Price'] = item_price2_df

count_of_item2_df['Total Purchase Value'] = unique_item2_df
count_of_item2_df

updated_count_of_item2_df = count_of_item2_df.rename(columns={
    'Price': 'Purchase Count',
})

organized_items2_df = updated_count_of_item2_df[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

sorted_items2_df = organized_items2_df.sort_values(by=['Total Purchase Value'], ascending=False)

sorted_items2_df.head(10)

In [ ]:
#stuff that did not work
# # Purchasing Analysis (Total)
# unique_items = len(purchase_data_df['Item ID'].unique())
# unique_items
# # Average Purchase Price
# avg_price = round(purchase_data_df['Price'].mean(), 2)
# avg_price
# # Total Purchases
# nubmer_of_purchases = len(purchase_data_df['Price'])
# number_of_purchases
# # Total Revenue
# total_revenue = round(purchase_data_df['Price'].sum(), 2)
# total_revenue